.sidebar {
    min-height: 100vh;
    width: 30vh;
    background-color: rgb(41, 47, 59);
    box-shadow: 0.2rem 0.2rem 0.5em rgb(13, 18, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    
    z-index: +1;
}

.logo {
  
    font-weight: 700;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.logo > img {
    height: 1.5em;
    width: auto;
    color: white;
    filter: invert(1)
}

.sideItems {
    margin-top: 5vh;
}